/LEMSexamples/NoInp0.xml3
/examples/NML2_SimpleMorphology.svg
/docs/update.sh
/updateExamples.sh
/updateSchemas.sh
/.pydevproject
.project
target/

target

*~
*.pyc
build
*.log
*.xml0

NeuroML2CoreTypes/*.ode
NeuroML2CoreTypes/*.sbml
NeuroML2CoreTypes/*.py
NeuroML2CoreTypes/*.gv
NeuroML2CoreTypes/*.png
NeuroML2CoreTypes/x86_64
NeuroML2CoreTypes/*.mod
NeuroML2CoreTypes/*.sedml
NeuroML2CoreTypes/*.m
NeuroML2CoreTypes/*.json
NeuroML2CoreTypes/results/*.dat

LEMSexamples/*.ode
LEMSexamples/*.sbml
LEMSexamples/*.py
LEMSexamples/*.gv
LEMSexamples/*.png
LEMSexamples/x86_64
LEMSexamples/*.log
LEMSexamples/*.hoc
LEMSexamples/*.mod
LEMSexamples/*.dat
LEMSexamples/*.sedml
LEMSexamples/*.9ml
LEMSexamples/*.cellml
LEMSexamples/*.spineml
LEMSexamples/*.m
LEMSexamples/*.json
LEMSexamples/results/*.dat
LEMSexamples/output
LEMSexamples/old
LEMSexamples/*.c
LEMSexamples/*.o
LEMSexamples/*.dll

examples/NeuroML2_To_HTML/*.html
examples/*.png
examples/*.svg
examples/*.pov

/Schemas/NeuroML2/NeuroML_v2beta4.xsd_conns
/LEMSexamples/NET_*.net.nml
/examples/*.mod
/examples/*.hoc
/examples/x86_64
/LEMSexamples/report.txt
/LEMSexamples/test/x86_64
/LEMSexamples/report.ex*.txt
/LEMSexamples/results/*.spikes
/LEMSexamples/*.gen.so
/LEMSexamples/tmp
arm64
/examples/NML2_SingleCompHHCell.nml__flattened.xml
/LEMSexamples/morphologies/*.mod
/LEMSexamples/morphologies/*.c
/LEMSexamples/morphologies/*.so
*eden.py
*netpyne.py
*nrn.py
/LEMSexamples/morphologies/*.dat
/LEMSexamples/morphologies/*.hoc
/LEMSexamples/morphologies/NET_m_in_b_in.net.nml
/LEMSexamples/morphologies/simulator.props
/LEMSexamples/morphologies/NET_m_in_b_out.net.nml
/LEMSexamples/morphologies/NET_m_out_b_in.net.nml
