dist: trusty
sudo: false

addons:
  apt:
    packages:
       # Requirements for Brian & NEST
    - python-numpy 
    - python-scipy 
    - python-matplotlib 
    - python-sympy
        # Requirements for NetPyNE & libNeuroML
    - python-tk
    - python-lxml

language: python
python: 2.7
 
virtualenv:
    system_site_packages: true

env:
    - OMV_ENGINE=jNeuroML
    - OMV_ENGINE=PyLEMS_NeuroML2
    - OMV_ENGINE=jNeuroML_NEURON
    - OMV_ENGINE=jNeuroML_NetPyNE
    - OMV_ENGINE=jNeuroML_Brian
    - OMV_ENGINE=jNeuroML_Brian2
    - OMV_ENGINE=jNeuroML_validate

install: 
    
    - export main_repo_branch=$TRAVIS_BRANCH
    - echo $main_repo_branch
    - if [[ ${main_repo_branch} != "master" && ${main_repo_branch} != "development" && ${main_repo_branch} != "experimental" ]]; then main_repo_branch=development ; fi
    
    - mvn install
    
    - git clone https://github.com/NeuroML/jNeuroML.git
    - cd jNeuroML
    - git checkout $main_repo_branch
    
    - python getNeuroML.py $main_repo_branch  # will call mvn install on this & other repos
    - ls -alt
    
    - export PATH=$PATH:$TRAVIS_BUILD_DIR/jNeuroML
    - export JNML_HOME=$TRAVIS_BUILD_DIR/jNeuroML
    - cd
    - pip install git+https://github.com/OpenSourceBrain/osb-model-validation
    
    - pip install scipy # Why is this needed? Doesn't seem to get installed correctly on trusty with addons above...
    

script:
    - jnml -v
    - cd $TRAVIS_BUILD_DIR/NeuroML2/LEMSexamples
    - pwd
    - ls -alt
    - omv all -V
    
